.navLinkDashboard {
  background-color: #224C8D;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:22px;
  border-radius: 12px;
  margin-bottom: 1px;
  font-family:  sans-serif;

}
.navLinkDashboard:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}
.navbar-navml-auto{

  float:right;
 display: flex;
}

.navigation{

  clear:both;
  overflow:auto;
  display: block;


}

.nav-link{
  font-family:  sans-serif;
  margin-right: 20px;
  text-decoration: none;
  color:black;

}
.nav-link:hover{
  color: #224C8D;
}

.nav-item{

  display: inline-block;

  margin-left: 10px;
  margin-right: 10px;

  font-size:22px; font-family:raleway;
}

.navbar-brand{

  float:left;

  padding-top: 5px;
  margin: auto;
}
.imgLogo{
  max-width: 50%;
  height: auto;
  margin: 10px;
  margin-left: 30px;
}
.line{
  margin-top: 10px;
  padding-bottom: 15px;
  padding-left: 100px;
  border-bottom: 2px solid;



}